!!! Strict
%html{:dir => "ltr", :lang => "en"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title
      JavaScript testing with Jasmine

    = stylesheet_link_tag 'domslides.css'
    = javascript_include_tag "domslides.js"
  %body
    #boundary
      %h1
        JavaScript testing with Jasmine

      .slide
        %h2
          %span
            JavaScript Testing with
          %span.crossed-out
            BlueRidge
          %span
            Jasmine

      .slide
        %h2
          Installation
        %pre
          :preserve
            gem install jasmine
            \./script/generate jasmine
            rake jasmine

      .slide
        %h2
          Demo App
        %ul
          %li
            = link_to 'http://github.com/gsmendoza/js_testing_demo', 'http://github.com/gsmendoza/js_testing_demo'
          %li
            Song
          %li
            Player
          %li
            Player Widget

      .slide
        %h2
          Jasmine basics
        %ul
          %li
            rspecish syntax - describe, it, beforeEach, afterEach
          %li
            expectation matchers
          %li
            debugging

      .slide
        %h2
          HTML fixtures
        %ul
          %li
            inline dom fixtures
          %li
            static fixtures with
            = link_to 'jasmine-jquery', 'http://github.com/velesin/jasmine-jquery'
          %li
            dynamic fixtures with
            = link_to 'fixture_generation_methods.rb', 'http://pivotallabs.com/users/jb/blog/articles/1152-javascripttests-bind-reality-'

      .slide
        %h2
          If we have time...
        %ul
          %li Testing events and Ajax
          %li stubs and spies
          %li xdescribe and xit

      .slide
        %h2
          Links
        %ul
          %li= link_to 'Jasmine', 'http://pivotal.github.com/jasmine'
          %li= link_to 'jasmine-jquery', 'http://github.com/velesin/jasmine-jquery'
          %li= link_to 'fixture_generation_methods.rb', 'http://pivotallabs.com/users/jb/blog/articles/1152-javascripttests-bind-reality-'
          %li= link_to 'http://github.com/gsmendoza/js_testing_demo', 'http://github.com/gsmendoza/js_testing_demo'

    #footer
      %span.body
        George Mendoza, Sept. 11, 2010
